.bg{
    background-color: #232323;
    width: 100vw;
    }

    .nav-Item,
    .nav-link,
    .nav-dropdown-item,
    .nav-dropdown-title {
    color: white;
    }

    .nav-Item:hover,
    .nav-link:hover,
    .nav-dropdown-item:hover,
    .nav-dropdown-title:hover {
    color: fuchsia;
    }
